<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <!-- Bootstrap Navbar -->
    <%- include('partials/navbar') %>

    <h1>Sorry, we cannot found the <%= subreddit %> subreddit!</h1>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>